<h1><%=@recipe.title%></h1>
<h2><%=@recipe.preparation %></h2>
<img src="<%= @recipe.image == "" ? '/images/recipe-default-img.jpg' : @recipe.image  %>" alt="recipe">
<!--<img src="<%#= @recipe.image %>" alt="recipe">-->

<p><%=@recipe.category %></p>

<form action="/recipes/<%=@recipe.id %>" method="post" >
<input type="hidden" name="_method" value="delete">
<!--  validation/authorization  only the user who created the recipe can delete it-->
  <%# if @recipe.user && @recipe.user.id == current_user.id %>
    <% if @recipe.user == current_user %>
  <button type="submit">Delete Recipe</button>
<%end %>
</form>